.menu{

    align-items: center;
    justify-content: center;
    text-align:center;
    height:200px;
    width:510px;
    border:2px solid black;
    overflow: hidden;
    position: absolute;
}

body{
    /* background-image:url('./photos/casino-backgroundjpg.jpg'); */
    background-repeat:no-repeat;
    justify-content: center;
    align-content: center;
}

h1{
    color:red;
}

.roulette_table{
    height:450px;
    width:900px;
    padding:5%;
    display:flex;
    border:2px solid gold;
    background-color: lightgray;

}

.roulette_table .bet_select{
    display:flex;

}
.slot_machine{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align:center;
    height:400px;
    width:500px;
    border :3px solid black;
}

.black_jack{
    display:flex;
    justify-content: center;
    align-items:center;
    height:300px;
    width:500px;
    border: 2px solid green;
    background-color:lightgreen;
}

.new_game{
    height:100px;
    width:150px;
    margin-left:25px;

}

#active{
    visibility: active;
}

#hidden{
    margin-top:-300px;
    visibility: hidden;
   
}
.wrapper{
    padding:15%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}